@import url('https://fonts.googleapis.com/css2?family=Cantora+One&display=swap');
@import "tailwindcss";

:root {
  font-family: Helvetica, Arial, sans-serif, system-ui, Avenir;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

@theme {
  --color-light-blue: oklch(97.05% 0.014 254.60);
  --color-grey: oklch(52.78% 0.000 0);
  --color-sky-blue: rgba(0, 172, 210, 0.3);
  --color-dark-blue: rgb(0, 122, 171);
  --color-bright-red: rgb(201, 0, 0);
  --color-opaque-green: rgba(210, 249, 221, 0.5);
  --color-opaque-purple: rgba(246, 231, 255, 0.5);
  --color-opaque-red: rgba(255, 233, 233, 0.5);
  --color-opaque-lime: rgba(241, 251, 221, 0.5);
  --color-opaque-orange: rgba(255, 242, 226, 0.5);
  --color-opaque-sea-blue: rgba(210, 249, 246, 0.5);
  --color-opaque-pink: rgba(255, 228, 245, 0.5);
  --color-opaque-blue: rgba(205, 241, 253, 0.5);
  --color-ink-blue: rgba(100, 115, 255, 1);
  --color-dark-grey: rgba(111, 110, 110, 1);
  --color-light-grey: rgba(131, 131, 131, 1);
  --color-extra-light-grey: rgba(179, 179, 179, 1);
  --color-faint-grey: rgba(198, 198, 198, 1);
  --color-off-white: rgba(222, 222, 222, 1);
  --color-opaque-grey: rgba(217, 217, 217, 0.5)

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.template-bg{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30.24%, #ECF4FF 100%), radial-gradient(87.25% 72.05% at 50% 0%, #CEDFFF 0%, #FFFFFF 100%);
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.text-bg{
  background: linear-gradient(273.73deg, #000FB7 0%, #00AEFF 100%);
  background-clip: text;
 color: transparent;
}
div.horizontal-shake {
  animation: horizontal-shaking 0.35s ease-in-out;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
 }

 /* HTML: <div class="loader"></div> */
.loader {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#e8ebfd 94%,#0000) top/4px 4px no-repeat,
    conic-gradient(#0000 30%,#e1e7ff);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

/* Gradient bg */
.chat-bg {
  background: linear-gradient(273.73deg, #CBCFFF 0%, #81BFDB 100%);

}

.msgShadow {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25), inset 1px 4px 6px rgba(255, 255, 255, 0.25);
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(155, 155, 155, 0.3);
}

/* Firefox */
* {
  scrollbar-width: thin; /* makes it thin */
  scrollbar-color: rgba(155, 155, 155, 0.3) transparent;
}


